@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
.pizza-types__list--mobile {
  display: none;
}
@media screen and (max-width: 481px) {
  .pizza-types__list--mobile {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.popup__fade {
  display: none;
}

.popup__fade:before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 9999;
}

.popup {
  width: 704px;
  background: #ffffff;
  border-radius: 5px;
  margin: 0 auto;
  position: fixed;
  padding: 20px;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99999;
  opacity: 1;
}

.popup__close {
  position: absolute;
  background-color: #ffffff;
  border: none;
  top: 30px;
  right: 30px;
}
.popup__close::after {
  content: "";
  background-color: #000000;
  width: 20px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup__close::before {
  content: "";
  background-color: #000000;
  width: 20px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__container--content {
  max-width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.popup__title {
  height: 109px;
  border-bottom: 1px solid #dcdfe2;
}

.basket__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}

.basket__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dcdfe2;
  height: 109px;
}

.basket__item--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket__item--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.basket__item--desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.basket__item--volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.volume__minus {
  position: relative;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  opacity: 0, 5;
  background: #c5cbd5;
  border: none;
}
.volume__minus::after {
  content: "";
  background-color: #ffffff;
  width: 12px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 5;
}

.volume__total {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 40px;
  border: 1px solid #c5cbd5;
  border-radius: 5px;
  margin: 0 8px;
}

.volume__total--desc {
  text-align: center;
  margin: 11px 18px;
}

.volume__plus {
  position: relative;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  opacity: 0, 5;
  background: #c5cbd5;
  border: none;
}
.volume__plus::after {
  content: "";
  background-color: #ffffff;
  width: 12px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 5;
}
.volume__plus::before {
  content: "";
  background-color: #ffffff;
  width: 12px;
  height: 2px;
  position: absolute;
  top: 45%;
  left: 25%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 5;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.basket__item--price {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: right;
  color: #000000;
}

.basket__item--close {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: none;
}
.basket__item--close::after {
  content: "";
  background-color: #a9a9a9;
  width: 9px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.basket__item--close::before {
  content: "";
  background-color: #a9a9a9;
  width: 9px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.basket__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

.basket__total--title {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  margin-right: 20px;
}

.basket__total--price {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  /* identical to box height */
  text-align: right;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__title {
  margin-bottom: 12px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}

.form__block {
  border-radius: 5px;
  border: 1px solid #c5cbd5;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 11px;
  border: solid 3px transparent;
  border-radius: 5px;
}
.form__input_textarea {
  height: 180px;
  resize: none;
}
.form__input:focus {
  border-color: #8fc9ff;
  outline: none;
}
.form__input:hover {
  border-color: #000000;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.radio__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 16px;
}
.radio_checkbox .radio_visible {
  border-radius: 2px;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible {
  border: 2px solid #000000;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  background: #ffffff;
  margin-right: 10px;
  border: 1px solid #c5cbd5;
}
.radio__visible:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #e52d2d;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form__btns {
  margin-bottom: 23px;
}

.agreement {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */
  color: #848a9a;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif, "Play";
  font-family: "Play", sans-serif;
  line-height: 1, 42;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: black;
}

.wrapper {
  width: 100%;
  background: url(./IMG/img-bg.png) no-repeat 1700px 53px;
}

.container {
  width: 95%;
  max-width: 1312px;
  margin: 0 auto;
  position: relative;
}

.container__header {
  width: 95%;
  max-width: 1312px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 835px) {
  .container__header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 481px) {
  .container__header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Alegreya";
  font-style: normal;
  letter-spacing: 1px;
  color: #000000;
}

a.text:active,
a.text:hover,
a.text {
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1 {
  font-weight: 900;
  font-size: 72px;
  line-height: 90px;
}
@media screen and (max-width: 835px) {
  h1 {
    font-size: 52px;
    line-height: 65px;
  }
}
@media screen and (max-width: 481px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
}

h2 {
  font-weight: 900;
  font-size: 52px;
  line-height: 65px;
}
@media screen and (max-width: 835px) {
  h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media screen and (max-width: 481px) {
  h2 {
    font-size: 28px;
    line-height: 35px;
  }
}

h3 {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}
@media screen and (max-width: 835px) {
  h3 {
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (max-width: 481px) {
  h3 {
    font-size: 20px;
    line-height: 25px;
  }
}

h4 {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
}
@media screen and (max-width: 835px) {
  h4 {
    font-size: 20px;
    line-height: 27px;
  }
}
@media screen and (max-width: 481px) {
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
}

input {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

p {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  width: 100%;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  margin-bottom: 36px;
}
@media screen and (max-width: 835px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: bottom 40px;
  }
}
@media screen and (max-width: 481px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
}

.header__fixed {
  padding-top: 0px;
  height: 60px;
  position: fixed;
  border-radius: 5px;
  top: 0;
  z-index: 15;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 5px rgba(165, 169, 176, 0.3);
          box-shadow: 0px 2px 5px rgba(165, 169, 176, 0.3);
}
.header__fixed .logo img {
  width: 68px;
  height: 31px;
}
@media screen and (max-width: 481px) {
  .header__fixed .logo img {
    width: 68px;
    height: 31px;
  }
}

footer {
  display: block;
  max-width: 100%;
  background-color: #000000;
}

.logo img {
  width: 182px;
  height: 84px;
}
@media screen and (max-width: 835px) {
  .logo img {
    left: 0;
    width: 130px;
  }
}
@media screen and (max-width: 481px) {
  .logo img {
    left: 0;
    width: 85px;
    height: 39px;
  }
}

address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 88px;
}
@media screen and (max-width: 481px) {
  address {
    margin-left: 20px;
  }
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-left: 88px;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  font-family: "Alegreya";
  text-transform: uppercase;
}
@media screen and (max-width: 835px) {
  .navbar__menu {
    display: none;
  }
}
@media screen and (max-width: 481px) {
  .navbar__menu {
    display: none;
  }
}

.navbar__item {
  text-align: center;
  margin-left: 60px;
  -webkit-transition: 400ms;
  transition: 400ms;
}
.navbar__item:hover {
  color: #e52d2d;
  -webkit-transition: 400ms;
  transition: 400ms;
}
.navbar__item:first-child {
  margin-left: 0;
}

.menu-burger__header {
  display: none;
}
@media screen and (max-width: 835px) {
  .menu-burger__header {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 20;
  }
}

.menu-burger__header span,
.menu-burger__header:after,
.menu-burger__header:before {
  height: 3px;
  width: 24px;
  position: absolute;
  background: #000000;
  margin: 0 auto;
}

.menu-burger__header:after {
  width: 19px;
}

.menu-burger__header:after,
.menu-burger__header:before {
  content: "";
}

.menu-burger__header:after {
  bottom: 10px;
}

.menu-burger__header:before {
  top: 10px;
}

.menu-burger__header.open-menu span {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 20;
  margin-left: 0px;
}

.menu-burger__header.open-menu:before {
  -webkit-transform: rotate(495deg);
          transform: rotate(495deg);
  top: 9px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #ffffff;
  z-index: 20;
}

.menu-burger__header.open-menu:after {
  -webkit-transform: rotate(-495deg);
          transform: rotate(-495deg);
  bottom: 28px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #ffffff;
  z-index: 20;
  width: 24px;
}

.logo__mobile {
  visibility: hidden;
}
@media screen and (max-width: 481px) {
  .logo__mobile {
    visibility: visible;
    padding: 12px 16px;
  }
}

.navbar__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  top: 5px;
  background: #313945;
  -webkit-box-shadow: #ccc;
          box-shadow: #ccc;
  height: 100%;
  width: 320px;
  -webkit-box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
          box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  right: -150%;
}
@media screen and (max-width: 835px) {
  .navbar__mobile {
    z-index: 20;
  }
}
@media screen and (max-width: 481px) {
  .navbar__mobile {
    width: 100%;
  }
}

.lang-switch--mobile {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.666667px;
  text-transform: uppercase;
  background: #313945;
  border: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  color: #ffffff;
}
@media screen and (max-width: 835px) {
  .lang-switch--mobile {
    visibility: hidden;
  }
}
@media screen and (max-width: 481px) {
  .lang-switch--mobile {
    visibility: visible;
  }
}

.navbar__mobile.open-menu {
  right: 0%;
  color: #ffffff;
  z-index: 20;
  display: block;
  visibility: visible;
}

.navbar__menu--burger {
  width: 200px;
  margin: 132px auto 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

.navbar__item--burger {
  margin: 0 auto 80px;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navbar__item--burger::after {
  content: "";
  width: 200px;
  background: #000000;
  height: 2px;
  position: absolute;
  margin: 0 auto;
  bottom: -170%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.navbar__item--burger:last-child::after {
  background: #313945;
}

.burger__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 40px;
}

.contact__desc--header-burger {
  z-index: 20;
  color: #ffffff;
}

.phone__title--burger {
  z-index: 20;
  color: #ffffff;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.33333px;
  text-transform: uppercase;
}

.order-desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #a8b0bc;
}

.phone__desc--burger {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #a8b0bc;
}

.contact__icon {
  min-width: 40px;
}

.basket__icon {
  min-width: 40px;
  position: relative;
}

.basket__icon--value {
  text-align: center;
  background: #e52d2d;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* identical to box height, or 159% */
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 10;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10%;
  left: 120%;
  -webkit-transform: translateX(-85%) translateY(-25%);
          transform: translateX(-85%) translateY(-25%);
}

.contact__desc--header {
  margin-left: 12px;
}
@media screen and (max-width: 835px) {
  .contact__desc--header {
    display: none;
  }
}
@media screen and (max-width: 481px) {
  .contact__desc--header {
    display: none;
  }
}

.phone__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1px;
  font-family: "Alegreya";
}

.phone__desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #848a9a;
}

.basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
}
@media screen and (max-width: 481px) {
  .basket {
    margin-left: 14px;
  }
}

.basket__desc {
  margin-left: 12px;
}
@media screen and (max-width: 835px) {
  .basket__desc {
    display: none;
  }
}
@media screen and (max-width: 481px) {
  .basket__desc {
    display: none;
  }
}

.lang-switch {
  margin-left: 44px;
  border-radius: 50%;
  border: none;
  height: 48px;
  width: 48px;
}
@media screen and (max-width: 481px) {
  .lang-switch {
    display: none;
  }
}

.container__hero {
  margin: 0 auto;
  max-width: 1920px;
  background: url(./IMG/img-bg.png) no-repeat 900px;
}
@media screen and (max-width: 835px) {
  .container__hero {
    background: url(./IMG/img-bg.png) no-repeat 500px;
  }
}
@media screen and (max-width: 481px) {
  .container__hero {
    background: none;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  margin-bottom: 100px;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}
@media screen and (max-width: 481px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__content {
  width: 50%;
  position: relative;
}
@media screen and (max-width: 481px) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 40px;
}
@media screen and (max-width: 835px) {
  .hero__subtitle {
    margin-bottom: 24px;
  }
}

.btn {
  width: 304px;
  height: 60px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #e52d2d;
  color: #ffffff;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 481px) {
  .btn {
    width: 288px;
    height: 52px;
  }
}

.hero__img {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 835px) {
  .hero__img {
    width: 315px;
    height: 315px;
  }
}
@media screen and (max-width: 481px) {
  .hero__img {
    width: auto;
    height: auto;
    background: url(./IMG/backmobile.jpg);
  }
}
.hero__img::before {
  content: "";
  background: url(./IMG/img-leaves.png) no-repeat;
  background-size: contain;
  width: 303px;
  height: 303px;
  position: absolute;
  top: 50%;
  right: 70%;
  -webkit-transform: translateX(10%) translateY(10%);
          transform: translateX(10%) translateY(10%);
}
@media screen and (max-width: 481px) {
  .hero__img::before {
    display: none;
  }
}
@media screen and (max-width: 835px) {
  .hero__img::before {
    width: 152px;
    height: 152px;
    top: 170px;
    left: -34px;
  }
}
@media screen and (max-width: 481px) {
  .hero__img::before {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.pizza__main {
  position: relative;
  -webkit-animation: rotate;
          animation: rotate;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (max-width: 481px) {
  .pizza__main {
    display: none;
  }
}

.pizza__main--mobile {
  display: none;
}
@media screen and (max-width: 481px) {
  .pizza__main--mobile {
    display: block;
  }
}

.event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 112px;
}

.event__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 481px) {
  .event__list {
    display: none;
  }
}

.event__list--slider,
.bx-wrapper {
  display: none;
}
@media screen and (max-width: 481px) {
  .event__list--slider,
.bx-wrapper {
    display: block;
  }
}

.bx-wrapper .bx-pager.bx-default-pager a {
  display: block;
  width: 12px;
  height: 12px;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #e52d2d;
}

.event__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 32px;
  opacity: 0;
  -webkit-transition: 0, 8s;
  transition: 0, 8s;
  -webkit-animation: show 1.5s 1;
          animation: show 1.5s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0, 4s;
          animation-delay: 0, 4s;
}
.event__item:last-child {
  margin-right: 0px;
}

.event__item--title {
  margin-top: 12px;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.event__item--subtitle {
  margin-top: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.choose-pizza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.choose-pizza__title {
  margin-bottom: 48px;
}

.pizza-types__list {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 560px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (max-width: 481px) {
  .pizza-types__list {
    display: none;
  }
}

.pizza-types__list--mobile {
  display: none;
}
@media screen and (max-width: 481px) {
  .pizza-types__list--mobile {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 232px;
  }
}

.pizza-types__item {
  color: #000000;
  -webkit-transition: 400ms;
  transition: 400ms;
  position: relative;
}
.pizza-types__item:hover {
  -webkit-transition: 400ms;
  transition: 400ms;
  color: #e52d2d;
}
.pizza-types__item:hover .link__red {
  -webkit-transition: 400ms;
  transition: 400ms;
  color: #e52d2d;
}
.pizza-types__item:hover .link__red::before {
  top: -30px;
  -webkit-transition: 400ms;
  transition: 400ms;
}
.pizza-types__item:active {
  -webkit-transition: 400ms;
  transition: 400ms;
  color: #e52d2d;
}
.pizza-types__item:active .link__red {
  -webkit-transition: 400ms;
  transition: 400ms;
  color: #e52d2d;
}
.pizza-types__item:active .link__red::before {
  top: -30px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.link__red {
  position: relative;
  background: #ffffff;
  text-transform: uppercase;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #000000;
}

.link__red::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(./IMG/Frame14.jpg);
  position: absolute;
  z-index: -5;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 400ms;
  transition: 400ms;
}
@media screen and (max-width: 481px) {
  .link__red::before {
    display: none;
  }
}

.link__red--pepper::before {
  content: "";
  background: url(./IMG/Frame\ 13.jpg);
}

.link__red--meat::before {
  content: "";
  background: url(./IMG/Frame\ 16.jpg);
}

.link__red--cheese::before {
  content: "";
  background: url(./IMG/Frame\ 12.jpg);
}

.link__red--vegan::before {
  content: "";
  background: url(./IMG/Frame\ 15.jpg);
}

.radio {
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.radio__elem:checked ~ .link__red,
.pizza-menu__list {
  -webkit-transition: 400ms;
  transition: 400ms;
  color: #e52d2d;
}

.radio__elem:checked ~ .all {
  top: -30px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.pizza-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.pizza-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 304px;
  margin: 0 32px 32px 0;
  -webkit-box-shadow: 0px 2px 5px rgba(165, 169, 176, 0.3);
          box-shadow: 0px 2px 5px rgba(165, 169, 176, 0.3);
  border-radius: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}
@media screen and (max-width: 481px) {
  .pizza-menu__item {
    margin: 32px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 288px;
  }
}
.pizza-menu__item:nth-child(4n) {
  margin: 0 0px 32px 0;
}
@media screen and (max-width: 835px) {
  .pizza-menu__item:nth-child(4n) {
    margin: 0 32px 32px 0;
  }
}
@media screen and (max-width: 481px) {
  .pizza-menu__item:nth-child(4n):nth-child(4n) {
    margin: 12px;
  }
}
@media screen and (max-width: 835px) {
  .pizza-menu__item:nth-child(3n) {
    margin: 0 0px 32px 0;
  }
}
@media screen and (max-width: 481px) {
  .pizza-menu__item:nth-child(3n) {
    margin: 12px;
  }
}
.pizza-menu__item:hover .pizza-menu__title {
  color: #e52d2d;
  -webkit-transition: 0, 3s;
  transition: 0, 3s;
}
.pizza-menu__item:hover .type__icon {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 400ms;
  transition: 400ms;
}
@media screen and (max-width: 835px) {
  .pizza-menu__item {
    max-width: 226px;
  }
}

.pizza__item--img-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.type__icon--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.type__icon {
  min-width: 24px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  padding: 12px 0 0 12px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}
@media screen and (max-width: 481px) {
  .type__icon {
    max-width: 12px;
    padding: 8px 0 0 8px;
  }
}

.pizza-menu__title {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 6px;
  text-align: center;
  -webkit-transition: 0, 3s;
  transition: 0, 3s;
}
@media screen and (max-width: 835px) {
  .pizza-menu__title {
    font-size: 20px;
    line-height: 27px;
  }
}
@media screen and (max-width: 481px) {
  .pizza-menu__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0px;
    padding-top: 20px;
  }
}

.pizza-menu__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #848a9a;
  margin-bottom: 8px;
  padding: 0 20px;
}
@media screen and (max-width: 481px) {
  .pizza-menu__subtitle {
    text-align: left;
    padding: 0;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 4px;
  }
}

.pizza-size__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  margin-bottom: 4px;
}

.pizza-size__list {
  margin: 0 auto 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 182px;
  height: 32px;
  border-radius: 4px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #eff0f1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px;
}
@media screen and (max-width: 481px) {
  .pizza-size__list {
    width: 164px;
  }
}

.tabs__pane {
  display: none;
}

.tabs__pane_show {
  display: block;
}
@media screen and (max-width: 835px) {
  .tabs__pane_show {
    min-width: 178px;
    min-height: 178px;
  }
}
@media screen and (max-width: 835px) {
  .tabs__pane_show {
    min-width: 80px;
    min-height: 80px;
  }
}

.pizza__frames {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 835px) {
  .pizza__frames {
    margin: 24px 25px 18px 0px;
    width: 183px;
    height: 183px;
  }
}
@media screen and (max-width: 481px) {
  .pizza__frames {
    margin: 0;
    margin-top: 16px;
    width: 80px;
    height: 80px;
  }
}

.pizza__borderL {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 1px dashed red;
}
@media screen and (max-width: 835px) {
  .pizza__borderL {
    width: 173px;
    height: 173px;
  }
}
@media screen and (max-width: 481px) {
  .pizza__borderL {
    width: 80px;
    height: 80px;
  }
}

.pizza__borderM {
  border-radius: 50%;
  width: 183px;
  height: 183px;
  border: 1px dashed #dcdfe2;
}
@media screen and (max-width: 835px) {
  .pizza__borderM {
    width: 154px;
    height: 154px;
  }
}
@media screen and (max-width: 481px) {
  .pizza__borderM {
    width: 70px;
    height: 70px;
  }
}

.pizza__borderM--default {
  border: none;
}

.pizza__size--20 {
  width: 150px;
  height: 150px;
  position: relative;
}
@media screen and (max-width: 835px) {
  .pizza__size--20 {
    width: 140px;
    height: 140px;
  }
}
@media screen and (max-width: 481px) {
  .pizza__size--20 {
    width: 70px;
    height: 70px;
  }
}

.pizza__size--20::before {
  content: "";
  border-radius: 50%;
  width: 168px;
  height: 168px;
  border: 1px dashed #dcdfe2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 5;
}
@media screen and (max-width: 835px) {
  .pizza__size--20::before {
    width: 154px;
    height: 154px;
  }
}
@media screen and (max-width: 481px) {
  .pizza__size--20::before {
    width: 70px;
    height: 70px;
  }
}

.pizza__size--20::after {
  content: "";
  border-radius: 50%;
  width: 212px;
  height: 212px;
  border: 1px dashed red;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 5;
}
@media screen and (max-width: 835px) {
  .pizza__size--20::after {
    width: 173px;
    height: 173px;
  }
}
@media screen and (max-width: 481px) {
  .pizza__size--20::after {
    width: 80px;
    height: 80px;
  }
}

.pizza__size--30 {
  width: 184px;
  height: 184px;
  position: relative;
}
@media screen and (max-width: 835px) {
  .pizza__size--30 {
    width: 154px;
    height: 154px;
  }
}
@media screen and (max-width: 481px) {
  .pizza__size--30 {
    width: 70px;
    height: 70px;
  }
}
.pizza__size--30::after {
  content: "";
  border-radius: 50%;
  width: 212px;
  height: 212px;
  border: 1px dashed red;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 5;
}
@media screen and (max-width: 835px) {
  .pizza__size--30::after {
    width: 173px;
    height: 173px;
  }
}
@media screen and (max-width: 481px) {
  .pizza__size--30::after {
    width: 80px;
    height: 80px;
  }
}

.pizza__size--40 {
  width: 212px;
  height: 212px;
  position: relative;
}
@media screen and (max-width: 835px) {
  .pizza__size--40 {
    width: 183px;
    height: 183px;
  }
}
@media screen and (max-width: 481px) {
  .pizza__size--40 {
    width: 80px;
    height: 80px;
  }
}

.pizza-size__item {
  text-align: center;
  width: 28%;
  background: #eff0f1;
  margin: 3px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pizza-size__btn {
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  background: inherit;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.pizza-size__btn--active {
  background: #ffffff;
  cursor: default;
  -webkit-transition: 400ms;
  transition: 400ms;
  width: 50px;
  height: 28px;
  border-radius: 3px;
}

.pizza-size__btn:not(.pizza-size__btn--active):hover,
.pizza-size__btn:not(.pizza-size__btn--active):focus {
  background: #eff0f1;
}

.pizza-price__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 12px;
  text-align: center;
}
@media screen and (max-width: 481px) {
  .pizza-price__title {
    width: 120px;
    height: 28px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #e52d2d;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 5px;
    border: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
}

.pizza-order__btn {
  max-width: 240px;
  height: 52px;
  margin: 0 auto 40px;
}
@media screen and (max-width: 835px) {
  .pizza-order__btn {
    max-width: 196px;
    margin: 0 auto 40px;
  }
}
@media screen and (max-width: 481px) {
  .pizza-order__btn {
    display: none;
  }
}

.pizza__item--desc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 481px) {
  .pizza__item--desc-content {
    padding-left: 13px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

.container__1920 {
  max-width: 1920;
  margin: 0 auto;
}

.delandpay {
  background-color: #f8f6f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delandpay__title {
  padding-top: 70px;
  margin-bottom: 26px;
}

.delandpay__task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}
@media screen and (max-width: 835px) {
  .delandpay__task {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (max-width: 481px) {
  .delandpay__task {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    margin-bottom: 12px;
  }
}

.delandpay__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 416px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.delandpay__content:last-child {
  margin-right: 0px;
}
@media screen and (max-width: 835px) {
  .delandpay__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 481px) {
  .delandpay__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 0px;
    margin-bottom: 12px;
    max-width: 288px;
  }
}

.delandpay__icon {
  padding: 32px 24px;
}
@media screen and (max-width: 835px) {
  .delandpay__icon {
    padding-top: 26px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 481px) {
  .delandpay__icon {
    margin: 14px;
  }
}

.delandpay__desc {
  padding: 36px 24px 36px 0;
}
@media screen and (max-width: 835px) {
  .delandpay__desc {
    padding: 0px 20px;
  }
}

.delandpay-task__title {
  margin-bottom: 6px;
}

.delandpay-task__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.benefits__list {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 110px;
}
@media screen and (max-width: 481px) {
  .benefits__list {
    margin-top: 20px;
  }
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits__item:nth-child(2) {
  margin-left: 300px;
}
@media screen and (max-width: 835px) {
  .benefits__item:nth-child(2) {
    margin-left: 150px;
  }
}
@media screen and (max-width: 481px) {
  .benefits__item:nth-child(2) {
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media screen and (max-width: 481px) {
  .benefits__item {
    margin-bottom: 20px;
  }
}

.benefits__pic {
  margin: 15px 32px;
  border-radius: 40%;
}
@media screen and (max-width: 835px) {
  .benefits__pic {
    width: 254px;
    margin: 0 36px 0 0px;
  }
  .benefits__pic:nth-child(2) {
    margin: 0 0 0px 36px;
  }
}
@media screen and (max-width: 481px) {
  .benefits__pic {
    width: 80px;
    margin: 16px;
  }
  .benefits__pic:nth-child(2) {
    margin: 16px;
  }
}

.benefits__content {
  max-width: 416px;
}

.benefits__content--title {
  margin-bottom: 12px;
}

.benefits__content--subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
@media screen and (max-width: 481px) {
  .benefits__content--subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}

.inst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inst__title {
  margin-bottom: 13px;
}

.inst__link {
  margin-bottom: 46px;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #848a9a;
}

.photo__list {
  max-width: 1920px;
  padding-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photo__item {
  width: 20%;
}
@media screen and (max-width: 835px) {
  .photo__item {
    width: 33%;
  }
}
@media screen and (max-width: 481px) {
  .photo__item {
    width: 50%;
  }
}

.container__footer {
  background-color: #000000;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 481px) {
  .container__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 208px;
  }
}

.phone__title--footer {
  color: #ffffff;
}

.logo__footer {
  margin-right: 101px;
}
@media screen and (max-width: 481px) {
  .logo__footer {
    margin-right: 0px;
    margin-bottom: 26px;
  }
}

.politic {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  right: 3%;
  text-align: center;
}
@media screen and (max-width: 481px) {
  .politic {
    margin-top: 10px;
  }
}

.box {
  margin: 200px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 5px dashed red;
  position: relative;
}

.box::before {
  content: "";
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  border: 5px dashed green;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 10;
}

.box::after {
  content: "";
  width: 340px;
  height: 340px;
  position: absolute;
  border-radius: 50%;
  border: 5px dashed orange;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 10;
}