$color_1: black;
$color_2: inherit;
$color_3: #000000;
$color_4: #e52d2d;

$color_5: #848a9a;
$color_6: #ffffff;
$color_7: #848a9a;
$font-family_1: "Alegreya Sans", Arial, Helvetica, sans-serif, "Play";
$font-family_2: "Play", sans-serif;
$font-family_3: "Alegreya";
$font-family_4: "Roboto";
$font-family_5: "Alegreya";
$background-color_1: #e52d2d;
$background-color_2: #eff0f1;
$background-color_3: #f8f6f3;
$background-color_4: #ffffff;
$background-color_5: #000000;

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

$tablets: 835px;
$mobile: 481px;
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

@import "./typelistMOB";
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
}
body {
  height: 100%;
  font-family: $font-family_1;
  font-family: $font-family_2;
  line-height: 1, 42;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: $color_1;

  
}
.fixed-pade {
    overflow: hidden;
  }
.wrapper {
  width: 100%;
  background: url(./IMG/img-bg.png) no-repeat 1700px 53px;
}
.container {
  width: 95%;
  max-width: 1312px;
  margin: 0 auto;
  position: relative;
}
ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Alegreya";
  font-style: normal;
  letter-spacing: 1px;

  color: #000000;
}
a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
}

h1 {
  font-weight: 900;
  font-size: 72px;
  line-height: 90px;

  @include tablets {
    font-size: 52px;
    line-height: 65px;
  }
  @include mobile {
    font-size: 40px;
    line-height: 50px;
  }
}

h2 {
  font-weight: 900;
  font-size: 52px;
  line-height: 65px;
  @include tablets {
    font-size: 40px;
    line-height: 60px;
  }
  @include mobile {
    font-size: 28px;
    line-height: 35px;
  }
}
h3 {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;

  @include tablets {
    font-size: 24px;
    line-height: 30px;
  }
  @include mobile {
    font-size: 20px;
    line-height: 25px;
  }
}
h4 {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;

  @include tablets {
    font-size: 20px;
    line-height: 27px;
  }
  @include mobile {
    font-size: 18px;
    line-height: 24px;
  }
}
* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
p {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
}
a {
  color: $color_2;
  text-decoration: none;
}

footer {
  display: block;
  max-width: 100%;
  background-color: $background-color_5;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 176px;
  @include tablets {
    justify-content: space-between;
  }
  @include mobile {
    justify-content: space-between;
  }
}
.logo {
  width: 182px;

  @include tablets {
    left: 0;
    min-width: 130px;
  }
  @include mobile {
    left: 0;
    width: 85px;
  }
}
address {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 88px;
  @include mobile {
    margin-left: 20px;
  }
}

.navbar__menu {
  display: flex;
  text-align: center;
  margin-left: 88px;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  font-family: $font-family_3;
  text-transform: uppercase;
  @include tablets {
    display: none;
  }
  @include mobile {
    display: none;
  }
}
.navbar__item {
  text-align: center;
  margin-left: 60px;
  transition: 400ms;
  &:hover {
    color: $color_4;
    transition: 400ms;
  }
  &:first-child {
    margin-left: 0;
  }
}
.menu-burger__header {
  display: none;
  @include tablets {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    z-index: 20;
    padding-right: 60px;
  }
}
.menu-burger__header span,
.menu-burger__header:after,
.menu-burger__header:before {
  height: 3px;
  width: 24px;
  position: absolute;
  background: #000000;
  margin: 0 auto;
}
.menu-burger__header:after {
  width: 19px;
}

.menu-burger__header:after,
.menu-burger__header:before {
  content: "";
}
.menu-burger__header:after {
  bottom: 10px;
}
.menu-burger__header:before {
  top: 10px;
}

.menu-burger__header.open-menu span {
  opacity: 0;
  transition: 0.5s;
  z-index: 20;
  margin-left: 0px;
  padding-right: 100px;
}
.menu-burger__header.open-menu:before {
  transform: rotate(580deg);
  top: 0px;
  transition: 0.4s;
  background: #ffffff;
  z-index: 20;
  padding-right: 24px;
}
.menu-burger__header.open-menu:after {
  transform: rotate(-580deg);
  bottom: 36px;
  transition: 0.4s;
  background: #ffffff;
  z-index: 20;
  padding-right: 24px;
}

.logo__mobile {
  visibility: hidden;
  @include mobile {
    visibility: visible;
    padding: 12px 16px;
  }
}

.navbar__mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center; 
  display: none;
  top: 5px;
  background: #313945;
  box-shadow: #ccc;
  height: 500%;
  width: 320px;
  box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
  transition: all 0.4s ease;
  right: -150%;
  @include tablets {
    z-index: 20;
  }
  @include mobile {
    width: 100%;

  }
}
.lang-switch--mobile {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.666667px;
  text-transform: uppercase;
  background: #313945;
  border: none;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  color: #ffffff;
  @include tablets {
    visibility: hidden;
  }
  @include mobile {
    visibility: visible;
  }
}
.navbar__mobile.open-menu {
  right: 0%;
  color: #ffffff;
  z-index: 20;
  display: block;
  visibility: visible;

}
.navbar__menu--burger {
  width: 200px;
  margin: 132px auto 0px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.navbar__item--burger {
  margin: 0 auto 80px;
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: center;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  // border-bottom: #ffffff solid 2px;
  &::after {
    content: "";
    width: 200px;
    background: #000000;
    height: 2px;
    position: absolute;
    margin: 0 auto;
    bottom: -170%;
    left: 50%;
    transform: translateX(-50%);
  }
  &:last-child::after {
    background: #313945;
  }
}

.burger__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40%;
  margin-bottom: 40px;
}
.contact__desc--header-burger {
  z-index: 20;
  color: #ffffff;
}
.phone__title--burger {
  z-index: 20;
  color: #ffffff;
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;

  letter-spacing: 1.33333px;
  text-transform: uppercase;
}
.order-desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #a8b0bc;
}
.phone__desc--burger {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #a8b0bc;
}
.contact__icon {
  min-width: 40px;
}
.basket__icon {
  min-width: 40px;
  position: relative;
  &::after{
    content: "3";
    text-align: center;
    background: #e52d2d;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    /* identical to box height, or 159% */
    
    text-align: center;
    
    color: #FFFFFF;
        border-radius: 50%;
    z-index: 10;
    width: 20px;
    height: 20px;
position: absolute;
top: -10%;
left: 120%;
transform: translateX(-85%) translateY(-25%);
  }
}
.contact__desc--header {
  margin-left: 12px;
  @include tablets {
    display: none;
  }
  @include mobile {
    display: none;
  }
}
.phone__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1px;
  font-family: $font-family_3;
}

.phone__desc {
  font-family: $font-family_4;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: $color_5;
}
.basket {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  @include mobile {
    margin-left: 14px;
  }
}
.basket__desc {
  margin-left: 12px;
  @include tablets {
    display: none;
  }
  @include mobile {
    display: none;
  }
}
.lang-switch {
  margin-left: 44px;
  border-radius: 50%;
  border: none;
  height: 48px;
  width: 48px;
  @include mobile {
    display: none;
  }
}
.container__hero {
  margin: 0 auto;
  max-width: 1920%;
  background: url(./IMG/img-bg.png) no-repeat 900px;
  @include tablets {
    background: url(./IMG/img-bg.png) no-repeat 500px;
  }
  @include mobile {
    background: none;
  }
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-bottom: 100px;
  backface-visibility: visible;
  @include mobile {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.hero__content {
  width: 50%;
  position: relative;
  @include mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.hero__subtitle {
  font-family: $font-family_4;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: $color_3;
  margin-bottom: 40px;
}
.btn {
  width: 304px;
  height: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $background-color_1;
  color: $color_6;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  font-family: $font-family_3;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  color: $color_6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @include mobile {
    width: 288px;
    height: 52px;
  }
}
.hero__img {
  position: relative;
  align-items: center;
  @include mobile {
    background: url(./IMG/backmobile.jpg);
  }

  &::before {
    content: "";
    background: url(./IMG/img-leaves.png) no-repeat;
    background-size: contain;
    width: 303px;
    height: 303px;
    position: absolute;
    top: 320px;
    left: -70px;
    @include mobile {
      display: none;
    }
    @include tablets {
      width: 152px;
      height: 152px;
      top: 285px;
      left: 20px;
    }
    @include mobile {
      justify-content: space-between;
    }
  }
}
.pizza__main {
  position: relative;
  animation: rotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  @include mobile {
    display: none;
  }
}
.pizza__main--mobile {
  display: none;
  @include mobile {
    display: block;
  }
}
.event {
  display: flex;
  margin-bottom: 112px;
}
.event__list {
  display: flex;
  justify-content: space-around;
  @include mobile {
    display: none;
  }
}
.event__list--slider,
.bx-wrapper {
  display: none;
  @include mobile {
    display: block;
  }
}

.bx-wrapper .bx-pager.bx-default-pager a {
  display: block;
  width: 12px;
  height: 12px;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #e52d2d;
}
.event__item {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  opacity: 0;
  transition: 0, 8s;
  animation: show 1.5s 1;
  animation-fill-mode: forwards;
  animation-delay: 0, 4s;
  &:last-child {
    margin-right: 0px;
  }
}
.event__item--title {
  margin-top: 12px;
  font-family: $font-family_3;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: $color_3;
}
.event__item--subtitle {
  margin-top: 14px;
  font-family: $font-family_4;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color_3;
}
.choose-pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.choose-pizza__title {
  margin-bottom: 55px;
}
.pizza-types__list {
  background-color: #ffffff;
  display: flex;
  width: 560px;
  justify-content: space-between;
  margin-bottom: 40px;
  font-family: $font-family_3;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color_3;
  @include mobile {
    display: none;
  }
}
.pizza-types__list--mobile {
  display: none;
  @include mobile {
    display: block;
    display: flex;
    justify-content: space-between;
    width: 232px;
  }
}
.pizza-types__item {
  color: #000000;
  // margin-right: 40px;
  transition: 400ms;
  position: relative;

  &:hover {
    transition: 400ms;
    color: $color_4;

    .all {
      top: -30px;
      transition: 400ms;
    }
    .link__red {
      transition: 400ms;
      color: $color_4;
    }
  }
}
.all {
  position: absolute;
  z-index: -5;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: 400ms;
}

.pizza-menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.pizza-menu__item {
  display: flex;
  flex-direction: column;
  max-width: 304px;
  margin: 0 32px 32px 0;
  box-shadow: 0px 2px 5px rgba(165, 169, 176, 0.3);
  border-radius: 5px;
  transition: 600ms;
  @include mobile {
    margin: 32px;
    flex-direction: row;
    min-width: 288px;
  }

  &:nth-child(4n) {
    margin: 0 0px 32px 0;
    @include tablets {
      margin: 0 32px 32px 0;
    }
    @include mobile {
      &:nth-child(4n) {
        margin: 12px;
      }
    }
  }
  @include tablets {
    &:nth-child(3n) {
      margin: 0 0px 32px 0;
    }
  }
  @include mobile() {
    &:nth-child(3n) {
      margin: 12px;
    }
  }

  &:hover {
    .pizza-menu__title {
      color: $color_4;
      transition: 0, 3s;
    }
    .type__icon {
      visibility: visible;
      opacity: 1;
      transition: 400ms;
    }
  }
  @include tablets {
    max-width: 226px;
  }
}
.pizza__item--img-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.type__icon {
  align-self: baseline;
  padding: 12px 0 0 12px;
  visibility: hidden;
  opacity: 0;
  transition: 400ms;
}
.pizza-menu__title {
  font-family: $font-family_3;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 6px;
  text-align: center;
  transition: 0, 3s;
  @include tablets {
    font-size: 20px;
    line-height: 27px;
  }
  @include mobile {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0px;
    padding-top: 20px;
  }
}
.pizza-menu__subtitle {
  font-family: $font-family_4;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: $color_5;
  margin-bottom: 8px;
  padding: 0 20px;
  @include mobile {
    text-align: left;
    padding: 0;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 4px;
  }
}
.pizza-size__title {
  font-family: $font-family_4;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: $color_3;
  margin-bottom: 4px;
}
.pizza-size__list {
  margin: 0 auto 14px;
  display: flex;
  width: 182px;
  height: 32px;
  border-radius: 4px;
  justify-content: space-between;
  background-color: $background-color_2;
  align-items: center;
  border: 1px;
  @include mobile {
    width: 164px;
  }
}
.tabs__pane {
display: none;
}

.tabs__pane_show {
display: block; 
 @include tablets{
    min-width: 200px;
    min-height: 200px;
  }
  @include tablets{
    min-width: 80px;
    min-height: 80px;
  }
}
.pizza-size__item {
  text-align: center;
  width: 28%;
  background: $background-color_2;
  margin: 3px;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
}
.pizza-size__btn {
  border: none;
  font-family: $font-family_4;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: $color_3;
  background: inherit;
  transition: 400ms;
}
.pizza-size__btn--active{
  
  background: #ffffff;
  cursor: default;
  transition: 400ms;
  width: 50px;
  height: 28px;
  border-radius: 3px;


}
.pizza-size__btn:not(.pizza-size__btn--active):hover,
    .pizza-size__btn:not(.pizza-size__btn--active):focus {
      background: $background-color_2;
    }
.pizza-price__title {
  font-family: $font-family_4;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 12px;
  text-align: center;
  @include mobile {
    width: 120px;
    height: 28px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $background-color_1;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    font-family: $font-family_4;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
}
.pizza-order__btn {
  max-width: 240px;
  height: 52px;
  margin: 0 auto 40px;

  @include tablets {
    max-width: 196px;
    margin: 0 auto 40px;
  }
  @include mobile {
    display: none;
  }
}
.pizza__item--desc-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile {
    align-items: baseline;
    text-align: left;
  }
}
.container__1920 {
  max-width: 1920;
  margin: 0 auto;
}
.delandpay {
  background-color: $background-color_3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delandpay__title {
  padding-top: 70px;
  margin-bottom: 26px;
}
.delandpay__task {
  display: flex;
  margin-bottom: 80px;
  @include tablets {
    flex-direction: row;
  }
  @include mobile {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 12px;
  }
}
.delandpay__content {
  display: flex;
  max-width: 416px;
  background-color: $background-color_4;
  border-radius: 5px;
  margin-right: 32px;
  align-items: center;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  &:last-child {
    margin-right: 0px;
  }
  @include tablets {
    flex-direction: column;
    text-align: center;
  }
  @include mobile {
    flex-direction: row;
    margin-right: 0px;
    margin-bottom: 12px;
    max-width: 288px;
  }
}
.delandpay__icon {
  padding: 32px 24px;
  @include tablets {
    padding-top: 26px;
    margin-bottom: 15px;
  }
  @include mobile {
    margin: 14px;
  }
}
.delandpay__desc {
  padding: 36px 24px 36px 0;
  @include tablets {
    padding: 0px 20px;
  }
}
.delandpay-task__title {
  margin-bottom: 6px;
}
.delandpay-task__subtitle {
  font-family: $font-family_4;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.benefits__list {
  margin-top: 95px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 110px;
  @include mobile {
    margin-top: 20px;
  }
}
.benefits__item {
  display: flex;
  align-items: center;
  &:nth-child(2) {
    margin-left: 300px;
    @include tablets {
      margin-left: 150px;
    }
    @include mobile {
      margin-left: 0px;
      flex-direction: row-reverse;
    }
  }
  @include mobile {
    margin-bottom: 20px;
  }
}
.benefits__pic {
  margin: 15px 32px;
  border-radius: 40%;

  @include tablets {
    width: 254px;
    margin: 0 36px 0 0px;
    &:nth-child(2) {
      margin: 0 0 0px 36px;
    }
  }
  @include mobile {
    width: 80px;
    margin: 16px;
    &:nth-child(2) {
      margin: 16px;
    }
  }
}

.benefits__content {
  max-width: 416px;
}
.benefits__content--title {
  margin-bottom: 12px;
}
.benefits__content--subtitle {
  font-family: $font-family_4;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  @include mobile {
    font-size: 12px;
    line-height: 18px;
  }
}
.inst {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.inst__title {
  margin-bottom: 13px;
}
.inst__link {
  margin-bottom: 46px;
  font-family: $font-family_5;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: $color_7;
}
.photo__list {
  max-width: 1920px;
  padding-top: 46px;
  display: flex;
  flex-wrap: wrap;
}
.photo__item {
  width: 20%;
  @include tablets {
    width: 33%;
  }
  @include mobile {
    width: 50%;
  }
}
.container__footer {
  background-color: $background-color_5;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    justify-content: center;
    height: 208px;
  }
}
.phone__title--footer {
  color: $color_6;
}
.logo__footer {
  margin-right: 101px;
  @include mobile {
    margin-right: 0px;
    margin-bottom: 26px;
  }
}

.politic {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  right: 3%;
  text-align: center;
  @include mobile {
    margin-top: 10px;
  }
}
